body { font-family: Tahoma; margin: 0; background: #fff9f9; }
header, footer { background: #733434; color: rgb(166, 164, 164); text-align: center; padding: 1em; }
nav a { color: rgb(248, 168, 168); margin: 0 10px; text-decoration: none; }
form { display: flex; flex-direction: column; width: 300px; margin: 30px auto; }
label, input, textarea, button { margin-bottom: 20px; }
button { background: #fbf8f8; color: rgb(58, 57, 57); border: none; padding: 20px; cursor: pointer; }
button:hover { background: #919191; }